
<ion-tabs color="primary">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="schedule" tab="home">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Scan</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="speakers" tab="guardados">
      <ion-icon name="contacts"></ion-icon>
      <ion-label>Historial</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="speakers" tab="mapa">
        <ion-icon name="map"></ion-icon>
        <ion-label>Mapa</ion-label>
      </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>